<div class="contenedor"> 
    <h3 class="my-3 text-center">Developers</h3>

    <div class="subcontenedor d-flex justify-content-center">
    <div class="card" style="width: 90%;">
        <img class="card-img-top" src="blob:https://web.whatsapp.com/1d7d6ea2-50cc-4e5c-beed-8ce2f5c78d41" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nicole Perez</h5>
          <p class="card-text">Estudiante de la intitucion desde hace mas de 4 años, estudiando previamente en el Institutio Alberto Merani en Bogota. Sus fuertes son las ciencias sociales y la lectura critica. Su meta es entrar al la Universidad Naciona De Colombia a la carrera de Diseño Insutrial</p>
     
        </div>
    </div>
    </div>
    <div class="subcontenedor d-flex justify-content-center">
        <div class="card" style="width: 90%;">
            <img class="card-img-top" src="blob:https://web.whatsapp.com/0d983c94-09ba-4368-9fbe-ff14fa45b81d" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sara Aponte</h5>
              <p class="card-text">Estudiante de la intutucion hace mas de 16 años, sus fuertes son la quimica y la matematica, su meta es ingresar a la Escuela de Ingenieros  Juliio Garavito en la carrera de Ingenieria Estadistica.</p>
         
            </div>
        </div>
        </div>
        

</div>
