<div class="contendor">

    <div class="subcontenedor mx-3">
        <h3 class="text-center mt-3">Wellcome to CSMA site</h3>   
        <img class="text-center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZIKdNU38WRk0PBQUCJuIFouBoPVKOxA8ypA&usqp=CAU" width="100%">
        <p style="text-align: justify;"> periodico digital es una iniciativa por el grado 11 de la promocion 2023, con el fin de informar de forma inmediata a toda la comunidad mateista a travez de medios digitales como el celular y navegadores Web, el aplicativo esta enfocado principalmente dispositivos moviles de tamaño pequeño.<p>
<b>Conformado por:</b>
<code>Celeste B, Camilo N, Andres A, Ana L, Juan B, Nicolle V, Sara A, Isabella P, Isbella A y Nicole P</code>
</div>
</div>
